<div class="container-recover">
  <div class="recover-container">
    <div class="recover-form-container">
      <div class="recover-form">
        <h2>Forgot your Password</h2>
        <form (ngSubmit)="onSubmit()" #recoverForm="ngForm">
          <input
            type="password"
            name="newPassword"
            [(ngModel)]="newPassword"
            required
            placeholder="New password"
          />
          <input
            type="password"
            name="confirmPassword"
            [(ngModel)]="confirmPassword"
            required
            placeholder="Confirm new password"
          />
          <button type="submit">Confirm</button>
          <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
          <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
        </form>
      </div>
    </div>
  </div>
  <div class="login-img"></div>
</div>
