<div class="configuration-container">
  <h2>Configuración</h2>

  <div class="profile-settings-card">
    <h3>CONFIGURACIÓN DEL PERFIL</h3>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="form-grid">

      <div class="form-group">
        <label>Nombre completo</label>
        <input type="text" formControlName="full_name" />
      </div>

      <div class="form-group">
        <label>Nombre</label>
        <input type="text" formControlName="first_name" />
      </div>

      <div class="form-group">
        <label>Apellido</label>
        <input type="text" formControlName="last_name" />
      </div>

      <div class="form-group">
        <label>Universidad</label>
        <input type="text" formControlName="university" />
      </div>

      <div class="form-group">
        <label>Carrera</label>
        <input type="text" formControlName="career" />
      </div>

      <div class="form-group">
        <label>Género</label>
        <select formControlName="gender">
          <option value="" disabled>Seleccionar género</option>
          <option>Hombre</option>
          <option>Mujer</option>
          <option>Otro</option>
        </select>
      </div>

      <div class="form-group">
        <label>Foto de perfil</label>

        <!-- Input de archivo -->
        <input
          type="file"
          accept="image/*"
          (change)="onFileSelected($event)"
        />

        <small *ngIf="uploading">Subiendo imagen...</small>

        <!-- Preview si ya hay URL -->
        <div class="avatar-preview" *ngIf="profileForm.value.profile_picture">
          <img
            [src]="profileForm.value.profile_picture"
            alt="Foto de perfil"
          />
        </div>
      </div>

      <!--<div class="form-group">
        <label>Presentación preferida</label>
        <select formControlName="preferred_presentation">
          <option value="" disabled>Select preference</option>
          <option>Formal</option>
          <option>Casual</option>
          <option>Interactive</option>
        </select>
      </div>-->

      <div class="edit-button-container full-width">
        <button type="submit" class="edit-button">Guardar</button>
      </div>

    </form>
  </div>
</div>
