<h2 class="title">Choose your plan</h2>
<h3 class="subtitle">Choose the plan that best suits your needs and start improving your academic presentations.</h3>

<div class="plan-container">
  <mat-card class="plan-card plan-free">
    <div class="plan-content">
      <h3 class="plan-title">Free</h3>
      <ul>
        <li><mat-icon>check_circle</mat-icon> 1 presentation analysis per month.</li>
        <li><mat-icon>check_circle</mat-icon> Access to basic emotional feedback</li>
        <li><mat-icon>check_circle</mat-icon> Limited storage</li>
        <li><mat-icon>check_circle</mat-icon> Standard improvement suggestions.</li>
      </ul>
    </div>
    <button mat-flat-button class="custom-buy-button">Buy now</button>
  </mat-card>

  <mat-card class="plan-card plan-pro">
    <div class="plan-content">
      <h3 class="plan-title">Pro</h3>
      <ul>
        <li><mat-icon>check_circle</mat-icon> 10 presentation analyses per month.</li>
        <li><mat-icon>check_circle</mat-icon> Personalized feedback</li>
        <li><mat-icon>check_circle</mat-icon> Extended storage (up to 25 presentations).</li>
        <li><mat-icon>check_circle</mat-icon> Standard improvement suggestions.</li>
      </ul>
    </div>
    <button mat-flat-button class="custom-buy-button">Buy now</button>
  </mat-card>

  <mat-card class="plan-card plan-premium">
    <div class="plan-content">
      <h3 class="plan-title">Premium</h3>
      <ul>
        <li><mat-icon>check_circle</mat-icon> 30 presentation analyses per month</li>
        <li><mat-icon>check_circle</mat-icon> Personalized feedback</li>
        <li><mat-icon>check_circle</mat-icon> Detailed emotional report.</li>
        <li><mat-icon>check_circle</mat-icon> Presentation comparisons.</li>
        <li><mat-icon>check_circle</mat-icon> Report export (PDF).</li>
      </ul>
    </div>
    <button mat-flat-button class="custom-buy-button">Buy now</button>
  </mat-card>
</div>
